body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1{
  background-color: red;
  display: grid;
  justify-content: center;
  height: 50px;
  align-items: center;
}
.container{ 
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}
.movie-card{
  flex: 1 1 calc(100% - 20px);
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  transition: transform 0.36 ease;
}
.movie-poster{
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}
@media(min-width: 768px){
  .movie-card{
    flex: 1 1 calc(50% - 20px);
  }
@media (min-width: 1025px){
  .movie-card{
    flex: 1 1 calc(25% - 20px);
  }
}